VITE_MONAD_CHAIN_ID=
VITE_MONAD_CHAIN_NAME= 
VITE_MONAD_RPC_URL=
VITE_MONAD_CURRENCY_NAME=
VITE_MONAD_CURRENCY_SYMBOL=
VITE_MONAD_CURRENCY_DECIMALS=
# VITE_MONAD_BLOCK_EXPLORER_URL=https://testnet.monadexplorer.com
